.container {
  max-width: 500px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 25px;
}

/* FLEX LAYOUT */
.top-section {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* CROWD SIDE */
.crowd-box {
  flex: 1;
}

/* FORM SIDE */
.form-box {
  flex: 1;
}

/* INPUT ROUND */
input {
  width: 90%;
  padding: 12px;
  margin: 6px 0;
  border-radius: 20px; /* 🔥 دائري */
  border: 1px solid #ddd;
  outline: none;
}

input:focus {
  border-color: #667eea;
}

/* BUTTON */
.join {
  width: 95%;
  border-radius: 20px;
}